* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montaerrat", sans-serif;
}

%button-style {
    font-weight: 600;
    font-size: 15px;
    padding: 7px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    filter: drop-shadow(0 0 3px #00000050);
    -webkit-filter: drop-shadow(0 0 3px #00000050);
    &:active {
        filter: brightness(0.7);
        -webkit-filter: brightness(0.7);
    }
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    .headline {
        font-size: 45px;
        font-weight: 400;
        color: #333333;
        letter-spacing: 1.5px;
    }
    .form {
        width: 100%;
        display: flex;
        gap: 25px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .form__headline {
            font-weight: 800;
            font-size: 20px;
            color: #141414;
        }
        .form__input-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .form__input {
                padding: 5px 15px;
                filter: drop-shadow(0 0 3px #00000050);
                border: none;
                outline: none;
                border-radius: 5px;
                font-size: 16px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                -webkit-filter: drop-shadow(0 0 3px #00000050);
                &::placeholder {
                    opacity: 0.3;
                }
            }
        }
        .form__add-btn {
            background: rgb(36, 143, 36);
            color: #ffffff;
            @extend %button-style
        }
        .form__submit {
            background: rgb(255, 81, 18);
            color: #ffffff;
            @extend %button-style
        }
    }
}